body {
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
}

.changelog {
    width: 700px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 40px;  
}

.changelog h1 {
    text-align: center;
}

.changelog-header p {
    text-align: center;
    color: grey;
}

.change {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.date {
    width: 300px;
    color: gray;
}

.description {
    flex: 1;   
}

.changelog-button {
    display: block;
    margin: 40px auto 0;

    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 14px;
    cursor: pointer;
}